.container {
  display: flex;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.position {
  padding: 10px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
}

.img {
  height: 100px;
}
